---
layout: default
title: Temas
permalink: /tags/
---

<div class="home">

  <h1 class="page-heading">Publicaciones de acuerdo a etiquetas:</h1>

  <ul class="post-list">

        {% assign sorted_tags = (site.tags | sort) %}
        {% for t in sorted_tags %}
        {% assign sorted_post = t[1] | sort: "title" %}
          <h3>{{ t[0] }}</h3>
          <ul>
            {% for post in sorted_post %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
