<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CV17W8EK9Q"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CV17W8EK9Q');
  </script>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{% if page.layout == "post" %}{{page.tags | join: ", "}}{% else %}{% for tag in site.tags %}{{tag[0]}}, {% endfor %}Juan Pablo Paredes{% endif %}">
  <meta name="author" content="Juan Pablo Paredes Daza">
  <meta name="e-mail" content="jpparedes@disroot.org">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta property="og:image" content={% if page.layout == "post" %}"{{ page.image }}"{% else %}"https://likiparedes.gitlab.io/blog/img/blog_JP.png"{% endif %}>
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@likiparedes">
  <meta name="twitter:creator" content="@likiparedes">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:image" content={% if page.layout == "post" %}"{{ page.image }}"{% else %}"https://likiparedes.gitlab.io/blog/img/blog_JP.png"{% endif %}>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" type="image/png" href="https://likiparedes.gitlab.io/blog/img/JP.png">
  <link rel="image_src" href={% if page.layout == "post" %}"{{ page.image }}"{% else %}"https://likiparedes.gitlab.io/blog/img/blog_JP.png"{% endif %}>
  <link rel="me" href="https://mastodon.social/@jpp4redes">
  
</head>
